In [101]:
from sklearn import tree
from sklearn.model_selection import train_test_split
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score

In [78]:
data=pd.read_csv("F:/doc_reports.csv")

In [79]:
pred_var=["visual_authenticity_result","image_integrity_result","face_detection_result","image_quality_result","supported_document_result","data_validation_result","data_consistency_result","police_record_result","compromised_document_result"]

In [80]:
data.dropna(subset=['result'],inplace=True)

In [81]:
le=data.shape[0]
print(le)

176404

In [82]:
data

,Unnamed: 0,user_id,result,visual_authenticity_result,image_integrity_result,face_detection_result,image_quality_result,created_at,supported_document_result,conclusive_document_quality_result,colour_picture_result,data_validation_result,data_consistency_result,data_comparison_result,attempt_id,police_record_result,compromised_document_result,properties,sub_result
0,0,ab23fae164e34af0a1ad1423ce9fd9f0,consider,consider,clear,clear,clear,2017-06-20T23:12:57Z,clear,NaN,NaN,clear,clear,NaN,050a0596de424fab83c433eaa18b3f8d,clear,NaN,"{'gender': 'Male', 'nationality': 'IRL', 'docu...",caution
1,1,15a84e8951254011b47412fa4e8f65b8,clear,clear,clear,clear,clear,2017-06-20T23:16:04Z,clear,NaN,NaN,clear,NaN,NaN,f69c1e5f45a64e50a26740b9bfb978b7,clear,NaN,"{'gender': 'Female', 'document_type': 'driving...",clear
2,2,ffb82fda52b041e4b9af9cb4ef298c85,clear,clear,clear,clear,clear,2017-06-20T17:59:49Z,clear,NaN,NaN,clear,clear,NaN,f9f84f3055714d8e8f7419dc984d1769,clear,NaN,"{'gender': 'Male', 'nationality': 'ITA', 'docu...",clear
3,3,bd4a8b3e3601427e88aa1d9eab9f4290,clear,clear,clear,clear,clear,2017-06-20T17:59:38Z,clear,NaN,NaN,clear,clear,NaN,10a54a1ecf794404be959e030f11fef6,clear,NaN,"{'gender': 'Male', 'issuing_date': '2007-08', ...",clear
4,4,f52ad1c7e69543a9940c3e7f8ed28a39,clear,clear,clear,clear,clear,2017-06-20T18:08:09Z,clear,NaN,NaN,clear,clear,NaN,1f320d1d07de493292b7e0d5ebfb1cb9,clear,NaN,"{'gender': 'Male', 'nationality': 'POL', 'docu...",clear
5,5,6af503bb8b7d4054b13b4206ab4d30ff,clear,clear,clear,clear,clear,2017-06-20T18:08:50Z,clear,NaN,NaN,clear,clear,NaN,40475bea718e4eefa1681badad872a63,clear,NaN,"{'gender': 'Male', 'nationality': 'BRA', 'docu...",clear
6,6,c7065821137c4e88be2d8d48e5ae0ed5,clear,clear,clear,clear,clear,2017-06-20T18:11:36Z,clear,NaN,NaN,clear,clear,NaN,e06eaa9e57fb4a959f3da2d8e6bd467c,clear,NaN,"{'gender': 'Male', 'nationality': 'ESP', 'docu...",clear
7,7,c495a07929b344ed9da41d7b9eb7a6ea,clear,clear,clear,clear,clear,2017-06-20T18:18:12Z,clear,NaN,NaN,clear,NaN,NaN,676eb988814c49c794c5002865c76379,clear,NaN,"{'gender': 'Male', 'document_type': 'driving_l...",clear
8,8,b9d6d9645a714b0dabfdcc5048a29e57,clear,clear,clear,clear,clear,2017-06-20T18:19:39Z,clear,NaN,NaN,clear,NaN,NaN,63eb06e3400e4b23b1d8c1794e8eaad4,clear,NaN,"{'gender': 'Male', 'document_type': 'driving_l...",clear
9,9,bf0fc3bd3c2a4c80be34eb096717bc81,clear,clear,clear,clear,clear,2017-06-20T18:30:27Z,clear,NaN,NaN,clear,NaN,NaN,7c1ff498161441cab0567e8b8ec3f3b6,clear,NaN,"{'gender': 'Male', 'document_type': 'driving_l...",clear
10,10,aae2e4b64d824c9cb309de6fe2ce7d29,clear,clear,clear,clear,clear,2017-06-20T18:28:54Z,clear,NaN,NaN,clear,NaN,NaN,8d8d0ddf715f4ec3b822029aeae2e5b1,clear,NaN,"{'gender': 'Female', 'document_type': 'driving...",clear
11,11,3c02c5a120364ca7a48a058ddfbd1d13,clear,clear,clear,clear,clear,2017-06-20T18:40:08Z,clear,NaN,NaN,clear,NaN,NaN,c2d87d0cfb7d4934b996c6bd49b9f3a5,clear,NaN,"{'gender': 'Male', 'document_type': 'driving_l...",clear
12,12,49d64fbb7eab4c868c7b1d8864135b17,clear,clear,clear,clear,clear,2017-06-20T18:44:37Z,clear,NaN,NaN,clear,clear,NaN,c885875374854c1f86e64e0b5ac398cb,NaN,NaN,"{'gender': 'Male', 'nationality': 'POL', 'docu...",clear
13,13,b41c2602c9144af1b2c00a42b8986138,clear,clear,clear,clear,clear,2017-06-20T18:54:08Z,clear,NaN,NaN,clear,clear,NaN,99f81c8f4a294249b5f51ab541de0283,clear,NaN,"{'gender': 'Female', 'nationality': 'LTU', 'do...",clear
14,14,787ab881fbe94f1abe292e4e7d25b651,clear,clear,clear,clear,clear,2017-06-20T18:54:53Z,clear,NaN,NaN,clear,NaN,NaN,c44a1aeba01045dc8583fe9891cf067e,NaN,NaN,"{'document_type': 'driving_licence', 'date_of_...",clear
15,15,e3657a99bd97408c8d01ded9a48a4baf,clear,clear,clear,clear,clear,2017-06-20T18:57:48Z,clear,NaN,NaN,clear,NaN,NaN,ebecf2e44a7a4daf978b4b45b67d1c38,clear,NaN,"{'gender': 'Male', 'document_type': 'driving_l...",clear
16,16,74d2a3101a714e8896e7ee6c57922625,clear,clear,clear,clear,clear,2017-06-20T19:03:32Z,clear,NaN,NaN,clear,clear,NaN,84dc0f2097af4f91b692cabd3c648927,clear,NaN,"{'gender': 'Male', 'nationality': 'GBR', 'docu...",clear
17,17,b20147d91fdf4ac289ddd80c4be9716a,clear,clear,clear,clear,clear,2017-06-20T19:00:27Z,clear,NaN,NaN,clear,clear,NaN,2db4bd5ed28948af858881e5e261bc2d,clear,NaN,"{'gender': 'Female', 'nationality': 'GBR', 'do...",clear
18,18,b20147d91fdf4ac289ddd80c4be9716a,clear,clear,clear,clear,clear,2017-06-20T19:00:27Z,clear,NaN,NaN,clear,clear,NaN,aa906e5f7be04ebca1d79091f5294f58,clear,NaN,"{'gender': 'Female', 'nationality': 'GBR', 'do...",clear
19,19,0d1a0c42b610426480c83ee3c06f7886,clear,clear,clear,clear,clear,2017-06-20T19:06:18Z,clear,NaN,NaN,clear,clear,NaN,ca2eec0bf9ae4bfb8605ad3a72dc2ef1,clear,NaN,"{'gender': 'Male', 'nationality': 'GBR', 'docu...",clear
20,20,23bf43e66c4d48b8abb6f9ec9f18104b,clear,clear,clear,clear,clear,2017-06-20T19:13:17Z,clear,NaN,NaN,NaN,NaN,NaN,40862aec7a6f4389995f89e3d3527882,clear,NaN,"{'document_type': 'national_identity_card', 'd...",clear
21,21,2ba7b5eab69b48e9b50db1a6b787b898,clear,clear,clear,clear,clear,2017-06-20T19:21:34Z,clear,NaN,NaN,clear,clear,NaN,4d7a2d96b0194cf29cb9c9d9e73bd72c,clear,NaN,"{'gender': 'Male', 'nationality': 'GBR', 'docu...",clear
22,22,00d71339f1604775bbd32cc225467b3f,clear,clear,clear,clear,clear,2017-06-20T19:26:27Z,clear,NaN,NaN,clear,NaN,NaN,a98c3e5780c448548a6bbd760f0b8401,clear,NaN,"{'gender': 'Male', 'document_type': 'driving_l...",clear
23,23,ad8c11a505a940b7b9ca4605c7e29e08,clear,clear,clear,clear,clear,2017-06-20T19:33:56Z,clear,NaN,NaN,clear,clear,NaN,12a74b5e095b4bbcafade7839a52b285,clear,NaN,"{'gender': 'Female', 'nationality': 'SVK', 'do...",clear
24,24,7e66b2c14ea74d28af5547be220455dd,clear,clear,clear,clear,clear,2017-06-20T19:39:10Z,clear,NaN,NaN,clear,NaN,NaN,e3549a16f4054976a7a994f1b268d195,NaN,NaN,"{'document_type': 'driving_licence', 'issuing_...",clear
25,25,18b3422213bf4fd991c7e1736504def2,consider,consider,clear,clear,clear,2017-06-20T19:47:32Z,clear,NaN,NaN,clear,clear,NaN,93bb751f9e894b13a3f4c1dac27b6847,clear,NaN,"{'gender': 'Male', 'nationality': 'TUN', 'docu...",caution
26,26,e1c4ec1958844228bb0c730a1c16d688,clear,clear,clear,clear,clear,2017-06-20T20:05:34Z,clear,NaN,NaN,clear,clear,NaN,f1ddad45bbfd4818a35ad7bba541e777,clear,NaN,"{'gender': 'Female', 'nationality': 'PHL', 'do...",clear
27,27,a5041fef506a4be7975ac1719c4bccaa,clear,clear,clear,clear,clear,2017-06-20T20:16:59Z,clear,NaN,NaN,clear,clear,NaN,94eb3ae8cfb24e758dcf3273cbc15d0e,clear,NaN,"{'gender': 'Male', 'issuing_date': '2015-02', ...",clear
28,28,5d0de10164b843d9b3b714991b725d94,clear,clear,clear,clear,clear,2017-06-20T20:15:29Z,clear,NaN,NaN,clear,NaN,NaN,345d95a86a2e413a989d7390d43d6b46,clear,NaN,"{'gender': 'Male', 'document_type': 'driving_l...",clear
29,29,86d7ba3adbcf4f92a334107bef54a6cc,clear,clear,clear,clear,clear,2017-06-20T20:23:12Z,clear,NaN,NaN,clear,clear,NaN,2d6124c41db843eeb0f2e4b912aa94a5,clear,NaN,"{'gender': 'Female', 'nationality': 'ESP', 'do...",clear
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176374,181962,b53270d6b89d471790968f5b14dfe885,clear,clear,clear,clear,clear,2017-06-21T13:52:08Z,clear,NaN,NaN,clear,clear,NaN,378194dac6fc43bca05fdb4e9be4417d,clear,NaN,"{'gender': 'Male', 'nationality': 'POL', 'docu...",clear
176375,181963,7a636ac3c33a49ff846259560aaf7685,clear,clear,clear,clear,clear,2017-06-21T13:52:44Z,clear,NaN,NaN,clear,NaN,NaN,b90f1e12c24f4d5c926df1546c61ffa8,clear,NaN,"{'gender': 'Female', 'document_type': 'driving...",clear
176376,181964,31aeeef8112a48b78b8956dad92220de,clear,clear,clear,clear,clear,2017-06-21T14:01:33Z,clear,NaN,NaN,clear,clear,NaN,86519bade63c4cf0b64a79dd0c0c6857,clear,NaN,"{'gender': 'Female', 'nationality': 'GBR', 'do...",clear
176377,181965,ed525c9e7f75439086d1fd3e170a260b,clear,clear,clear,clear,clear,2017-06-21T14:07:11Z,clear,NaN,NaN,clear,clear,NaN,c87992d0aae7404bb23bdbe629878d2b,clear,NaN,"{'gender': 'Male', 'nationality': 'GRC', 'docu...",clear
176378,181966,f19f95d0191045a2bd7d4c5bf0df58a5,clear,clear,clear,clear,clear,2017-06-21T14:08:05Z,clear,NaN,NaN,clear,clear,NaN,3b1d14539cf949d290e2c15d0e511601,clear,NaN,"{'gender': 'Female', 'nationality': 'GBR', 'do...",clear
176379,181967,89d1ec4e27724079b018296582299433,clear,clear,clear,clear,clear,2017-06-21T14:09:17Z,clear,NaN,NaN,clear,clear,NaN,b57b9cba97e346ebabaf301869372c08,clear,NaN,"{'gender': 'Male', 'issuing_date': '2015-04', ...",clear
176380,181968,646803af6ffe43c398410e6aeedc7f5f,clear,clear,clear,clear,clear,2017-06-21T14:07:04Z,clear,NaN,NaN,clear,NaN,NaN,167e231bf02e4a7e84c47fd2174b48a9,NaN,NaN,"{'document_type': 'driving_licence', 'date_of_...",clear
176381,181969,712023660c9649e7a86a65f7c61428ae,clear,clear,clear,clear,clear,2017-06-21T14:11:20Z,clear,NaN,NaN,clear,NaN,NaN,a703f13502a8457ab302ad56e01e5606,clear,NaN,"{'gender': 'Male', 'document_type': 'driving_l...",clear
176382,181970,3d6aa89a8d2442e2ae83ea27eb0d5140,clear,clear,clear,clear,clear,2017-06-21T14:12:47Z,clear,NaN,NaN,clear,clear,NaN,2068e659ac154e8982e8964ba0c5fed0,clear,NaN,"{'gender': 'Female', 'nationality': 'FRA', 'do...",clear
176383,181971,03748f3a1aef45dc8d091e49ce20bc47,clear,clear,clear,clear,clear,2017-06-21T14:21:54Z,clear,NaN,NaN,clear,clear,NaN,9d475763740949a68ca636f81a3501eb,clear,NaN,"{'gender': 'Male', 'issuing_date': '2011-09', ...",clear
176384,181972,ea72d55893714f7d90387873c1fdb40a,clear,clear,clear,clear,clear,2017-06-21T14:25:43Z,clear,NaN,NaN,clear,clear,NaN,f9f9246e46b0472e83ec7e76edcc935b,clear,NaN,"{'gender': 'Male', 'nationality': 'GBR', 'docu...",clear
176385,181973,678522d39a91454cb69a733d4fcb4dbe,clear,clear,clear,clear,clear,2017-06-21T14:30:57Z,clear,NaN,NaN,clear,clear,NaN,af9b38c91eba4d3e84f35af8b05de085,clear,NaN,"{'gender': 'Female', 'nationality': 'GBR', 'do...",clear
176386,181974,590bb32502ae464d9b699a3a43d465f7,clear,clear,clear,clear,clear,2017-06-21T14:32:27Z,clear,NaN,NaN,NaN,NaN,NaN,693d2b2bca04486c9a628948952230ac,NaN,NaN,"{'document_type': 'national_identity_card', 'i...",clear
176387,181975,96e0fab6b8b94569ab2937b2b000a3be,clear,clear,clear,clear,clear,2017-06-21T14:39:39Z,clear,NaN,NaN,clear,clear,NaN,c46bdf1d929f4edc9ae758a23bf5d516,clear,NaN,"{'gender': 'Male', 'nationality': 'CZE', 'docu...",clear
176388,181976,2c291fa002994ca8a812eb6312fd6ce9,clear,clear,clear,clear,clear,2017-06-21T14:51:58Z,clear,NaN,NaN,clear,clear,NaN,eb6382d92dfd4dee8eb8d61f41a35084,clear,NaN,"{'gender': 'Male', 'issuing_date': '2007-01', ...",clear
176389,181977,a0d443689ede49ab8c29f00662621e55,clear,clear,clear,clear,clear,2017-06-20T20:59:39Z,clear,NaN,NaN,clear,clear,NaN,538536eeebbf446daf75f4b0851a6133,clear,NaN,"{'gender': 'Female', 'nationality': 'GBR', 'do...",clear
176390,181978,a0d443689ede49ab8c29f00662621e55,clear,clear,clear,clear,clear,2017-06-20T20:59:39Z,clear,NaN,NaN,clear,clear,NaN,8e626ecf669b4ab8b0b86f95dfdf85a1,clear,NaN,"{'gender': 'Female', 'nationality': 'GBR', 'do...",clear
176391,181979,ad68d17eec954763a89bcddf95d139cd,clear,clear,clear,clear,clear,2017-06-20T21:13:44Z,clear,NaN,NaN,clear,clear,NaN,3b3936231bce415f97d0b3d7b38becc1,clear,NaN,"{'gender': 'Female', 'nationality': 'ESP', 'do...",clear
176392,181980,799614b837184a2e866387bb2774ffcc,clear,clear,clear,clear,clear,2017-06-20T21:22:05Z,clear,NaN,NaN,clear,clear,NaN,3f0c33a083ca434a8ee1e08b86bba617,clear,NaN,"{'gender': 'Female', 'nationality': 'GBR', 'do...",clear
176393,181981,e64583d8093c439382559d806373bb27,clear,clear,clear,clear,clear,2017-06-20T21:41:22Z,clear,NaN,NaN,clear,NaN,NaN,3a04e1e48e824ead8714d9cd399866c4,clear,NaN,"{'gender': 'Male', 'document_type': 'driving_l...",clear
176394,181982,462488e0e9a6436ea77f382482c76823,clear,clear,clear,clear,clear,2017-06-20T21:41:11Z,clear,NaN,NaN,clear,clear,NaN,f1dbf151978e4732a7d46f3a6fac5554,clear,NaN,"{'gender': 'Female', 'nationality': 'GBR', 'do...",clear
176395,181983,1b7865050295440fa4f8f9306aeb330d,clear,clear,clear,clear,clear,2017-06-20T21:47:13Z,clear,NaN,NaN,clear,clear,NaN,1b8944c4e15d4d67964935dc63952b14,clear,NaN,"{'gender': 'Female', 'nationality': 'GBR', 'do...",clear
176396,181984,c33fab8fa84745018ec5fa5f05e8e2d1,clear,clear,clear,clear,clear,2017-06-20T21:57:45Z,clear,NaN,NaN,clear,NaN,NaN,6993f4ee7bf64ffd9f9748bcf5cf429e,NaN,NaN,"{'document_type': 'driving_licence', 'issuing_...",clear
176397,181985,cafb2c8a27b941cbb0d72f5889fc9911,clear,clear,clear,clear,clear,2017-06-20T22:09:59Z,clear,NaN,NaN,clear,clear,NaN,08fbfeda3f38452e8ab36536b0a7adea,clear,NaN,"{'gender': 'Female', 'nationality': 'NLD', 'do...",clear
176398,181986,3d16e02c245a4f1a8a76662ad933d5c4,clear,clear,clear,clear,clear,2017-06-20T22:25:59Z,clear,NaN,NaN,clear,clear,NaN,5adad81d87ed46d3b0c3b9214af9d80d,clear,NaN,"{'gender': 'Female', 'nationality': 'GBR', 'do...",clear
176399,181987,c7f99ee763bf45d289019c6ac2cbd919,clear,clear,clear,clear,clear,2017-06-20T22:25:53Z,clear,NaN,NaN,clear,clear,NaN,72a2cccc9e9942deb5274a16536bf2d0,clear,NaN,"{'gender': 'Female', 'nationality': 'CHN', 'do...",clear
176400,181988,8b47d72c363e4591861f523dd7487f20,clear,clear,clear,clear,clear,2017-06-20T22:27:40Z,clear,NaN,NaN,clear,NaN,NaN,8c83017191204a3887c2d47ca2d998ce,clear,NaN,"{'gender': 'Female', 'document_type': 'driving...",clear
176401,181989,3d16e02c245a4f1a8a76662ad933d5c4,clear,clear,clear,clear,clear,2017-06-20T22:25:59Z,clear,NaN,NaN,clear,clear,NaN,bfea35bcb6a940118ca5816cd8ffcae7,clear,NaN,"{'gender': 'Female', 'nationality': 'GBR', 'do...",clear
176402,181990,65c49a09d299486091b6586487679b87,clear,clear,clear,clear,clear,2017-06-20T22:35:40Z,clear,NaN,NaN,clear,clear,NaN,9190cf28b35b425083bdb41e121822fe,clear,NaN,"{'gender': 'Male', 'nationality': 'PRT', 'docu...",clear
176403,181991,f0a1721abb544ea4896cd53716b3fd2b,clear,clear,clear,clear,clear,2017-06-20T22:50:59Z,clear,NaN,NaN,clear,clear,NaN,da25f83fc32d44888187c74c220e2513,clear,NaN,"{'gender': 'Female', 'nationality': 'GBR', 'do...",clear

In [83]:
data.loc[data["visual_authenticity_result"] == "clear", "visual_authenticity_result"] = 1
data.loc[data["visual_authenticity_result"] == "consider", "visual_authenticity_result"] = 0
# train.loc[train["result"] =="clear", "result"] = 1
# train.loc[train["result"] =="consider", "result"] = 0
data.loc[data["image_integrity_result"] =="clear", "image_integrity_result"] = 1
data.loc[data["image_integrity_result"] =="consider", "image_integrity_result"] = 0
data.loc[data["face_detection_result"] =="clear", "face_detection_result"] = 1
data.loc[data["face_detection_result"] =="consider", "face_detection_result"] = 0
data.loc[data["image_quality_result"] =="clear", "image_quality_result"] = 1
# train.loc[train["image_quality_result"] =="consider", "image_quality_result"] = 0
data.loc[data["supported_document_result"] =="clear", "supported_document_result"] = 1
# train.loc[train["supported_document_result"] =="consider", "supported_document_result"] = 0
data.loc[data["data_validation_result"] =="clear", "data_validation_result"] = 1
data.loc[data["data_validation_result"] =="consider", "data_validation_result"] = 0
data.loc[data["data_consistency_result"] =="clear", "data_consistency_result"] = 1
data.loc[data["data_consistency_result"] =="consider", "data_consistency_result"] = 0
data.loc[data["police_record_result"] =="clear", "police_record_result"] = 1
data.loc[data["police_record_result"] =="consider", "police_record_result"] = 0
data.loc[data["compromised_document_result"] =="clear", "compromised_document_result"] = 1
data.loc[data["compromised_document_result"] =="consider", "compromised_document_result"] = 0

In [84]:
data.loc[data["result"] =="clear", "result"] = 1
data.loc[data["result"] =="consider", "result"] = 0

In [85]:
data.fillna(0,inplace=True)
data['image_quality_result'].replace("unidentified",0,inplace=True)
data['supported_document_result'].replace("unidentified",0,inplace=True)

In [86]:
data

,Unnamed: 0,user_id,result,visual_authenticity_result,image_integrity_result,face_detection_result,image_quality_result,created_at,supported_document_result,conclusive_document_quality_result,colour_picture_result,data_validation_result,data_consistency_result,data_comparison_result,attempt_id,police_record_result,compromised_document_result,properties,sub_result
0,0,ab23fae164e34af0a1ad1423ce9fd9f0,0,0,1,1,1,2017-06-20T23:12:57Z,1,0,0,1,1,0,050a0596de424fab83c433eaa18b3f8d,1,0,"{'gender': 'Male', 'nationality': 'IRL', 'docu...",caution
1,1,15a84e8951254011b47412fa4e8f65b8,1,1,1,1,1,2017-06-20T23:16:04Z,1,0,0,1,0,0,f69c1e5f45a64e50a26740b9bfb978b7,1,0,"{'gender': 'Female', 'document_type': 'driving...",clear
2,2,ffb82fda52b041e4b9af9cb4ef298c85,1,1,1,1,1,2017-06-20T17:59:49Z,1,0,0,1,1,0,f9f84f3055714d8e8f7419dc984d1769,1,0,"{'gender': 'Male', 'nationality': 'ITA', 'docu...",clear
3,3,bd4a8b3e3601427e88aa1d9eab9f4290,1,1,1,1,1,2017-06-20T17:59:38Z,1,0,0,1,1,0,10a54a1ecf794404be959e030f11fef6,1,0,"{'gender': 'Male', 'issuing_date': '2007-08', ...",clear
4,4,f52ad1c7e69543a9940c3e7f8ed28a39,1,1,1,1,1,2017-06-20T18:08:09Z,1,0,0,1,1,0,1f320d1d07de493292b7e0d5ebfb1cb9,1,0,"{'gender': 'Male', 'nationality': 'POL', 'docu...",clear
5,5,6af503bb8b7d4054b13b4206ab4d30ff,1,1,1,1,1,2017-06-20T18:08:50Z,1,0,0,1,1,0,40475bea718e4eefa1681badad872a63,1,0,"{'gender': 'Male', 'nationality': 'BRA', 'docu...",clear
6,6,c7065821137c4e88be2d8d48e5ae0ed5,1,1,1,1,1,2017-06-20T18:11:36Z,1,0,0,1,1,0,e06eaa9e57fb4a959f3da2d8e6bd467c,1,0,"{'gender': 'Male', 'nationality': 'ESP', 'docu...",clear
7,7,c495a07929b344ed9da41d7b9eb7a6ea,1,1,1,1,1,2017-06-20T18:18:12Z,1,0,0,1,0,0,676eb988814c49c794c5002865c76379,1,0,"{'gender': 'Male', 'document_type': 'driving_l...",clear
8,8,b9d6d9645a714b0dabfdcc5048a29e57,1,1,1,1,1,2017-06-20T18:19:39Z,1,0,0,1,0,0,63eb06e3400e4b23b1d8c1794e8eaad4,1,0,"{'gender': 'Male', 'document_type': 'driving_l...",clear
9,9,bf0fc3bd3c2a4c80be34eb096717bc81,1,1,1,1,1,2017-06-20T18:30:27Z,1,0,0,1,0,0,7c1ff498161441cab0567e8b8ec3f3b6,1,0,"{'gender': 'Male', 'document_type': 'driving_l...",clear
10,10,aae2e4b64d824c9cb309de6fe2ce7d29,1,1,1,1,1,2017-06-20T18:28:54Z,1,0,0,1,0,0,8d8d0ddf715f4ec3b822029aeae2e5b1,1,0,"{'gender': 'Female', 'document_type': 'driving...",clear
11,11,3c02c5a120364ca7a48a058ddfbd1d13,1,1,1,1,1,2017-06-20T18:40:08Z,1,0,0,1,0,0,c2d87d0cfb7d4934b996c6bd49b9f3a5,1,0,"{'gender': 'Male', 'document_type': 'driving_l...",clear
12,12,49d64fbb7eab4c868c7b1d8864135b17,1,1,1,1,1,2017-06-20T18:44:37Z,1,0,0,1,1,0,c885875374854c1f86e64e0b5ac398cb,0,0,"{'gender': 'Male', 'nationality': 'POL', 'docu...",clear
13,13,b41c2602c9144af1b2c00a42b8986138,1,1,1,1,1,2017-06-20T18:54:08Z,1,0,0,1,1,0,99f81c8f4a294249b5f51ab541de0283,1,0,"{'gender': 'Female', 'nationality': 'LTU', 'do...",clear
14,14,787ab881fbe94f1abe292e4e7d25b651,1,1,1,1,1,2017-06-20T18:54:53Z,1,0,0,1,0,0,c44a1aeba01045dc8583fe9891cf067e,0,0,"{'document_type': 'driving_licence', 'date_of_...",clear
15,15,e3657a99bd97408c8d01ded9a48a4baf,1,1,1,1,1,2017-06-20T18:57:48Z,1,0,0,1,0,0,ebecf2e44a7a4daf978b4b45b67d1c38,1,0,"{'gender': 'Male', 'document_type': 'driving_l...",clear
16,16,74d2a3101a714e8896e7ee6c57922625,1,1,1,1,1,2017-06-20T19:03:32Z,1,0,0,1,1,0,84dc0f2097af4f91b692cabd3c648927,1,0,"{'gender': 'Male', 'nationality': 'GBR', 'docu...",clear
17,17,b20147d91fdf4ac289ddd80c4be9716a,1,1,1,1,1,2017-06-20T19:00:27Z,1,0,0,1,1,0,2db4bd5ed28948af858881e5e261bc2d,1,0,"{'gender': 'Female', 'nationality': 'GBR', 'do...",clear
18,18,b20147d91fdf4ac289ddd80c4be9716a,1,1,1,1,1,2017-06-20T19:00:27Z,1,0,0,1,1,0,aa906e5f7be04ebca1d79091f5294f58,1,0,"{'gender': 'Female', 'nationality': 'GBR', 'do...",clear
19,19,0d1a0c42b610426480c83ee3c06f7886,1,1,1,1,1,2017-06-20T19:06:18Z,1,0,0,1,1,0,ca2eec0bf9ae4bfb8605ad3a72dc2ef1,1,0,"{'gender': 'Male', 'nationality': 'GBR', 'docu...",clear
20,20,23bf43e66c4d48b8abb6f9ec9f18104b,1,1,1,1,1,2017-06-20T19:13:17Z,1,0,0,0,0,0,40862aec7a6f4389995f89e3d3527882,1,0,"{'document_type': 'national_identity_card', 'd...",clear
21,21,2ba7b5eab69b48e9b50db1a6b787b898,1,1,1,1,1,2017-06-20T19:21:34Z,1,0,0,1,1,0,4d7a2d96b0194cf29cb9c9d9e73bd72c,1,0,"{'gender': 'Male', 'nationality': 'GBR', 'docu...",clear
22,22,00d71339f1604775bbd32cc225467b3f,1,1,1,1,1,2017-06-20T19:26:27Z,1,0,0,1,0,0,a98c3e5780c448548a6bbd760f0b8401,1,0,"{'gender': 'Male', 'document_type': 'driving_l...",clear
23,23,ad8c11a505a940b7b9ca4605c7e29e08,1,1,1,1,1,2017-06-20T19:33:56Z,1,0,0,1,1,0,12a74b5e095b4bbcafade7839a52b285,1,0,"{'gender': 'Female', 'nationality': 'SVK', 'do...",clear
24,24,7e66b2c14ea74d28af5547be220455dd,1,1,1,1,1,2017-06-20T19:39:10Z,1,0,0,1,0,0,e3549a16f4054976a7a994f1b268d195,0,0,"{'document_type': 'driving_licence', 'issuing_...",clear
25,25,18b3422213bf4fd991c7e1736504def2,0,0,1,1,1,2017-06-20T19:47:32Z,1,0,0,1,1,0,93bb751f9e894b13a3f4c1dac27b6847,1,0,"{'gender': 'Male', 'nationality': 'TUN', 'docu...",caution
26,26,e1c4ec1958844228bb0c730a1c16d688,1,1,1,1,1,2017-06-20T20:05:34Z,1,0,0,1,1,0,f1ddad45bbfd4818a35ad7bba541e777,1,0,"{'gender': 'Female', 'nationality': 'PHL', 'do...",clear
27,27,a5041fef506a4be7975ac1719c4bccaa,1,1,1,1,1,2017-06-20T20:16:59Z,1,0,0,1,1,0,94eb3ae8cfb24e758dcf3273cbc15d0e,1,0,"{'gender': 'Male', 'issuing_date': '2015-02', ...",clear
28,28,5d0de10164b843d9b3b714991b725d94,1,1,1,1,1,2017-06-20T20:15:29Z,1,0,0,1,0,0,345d95a86a2e413a989d7390d43d6b46,1,0,"{'gender': 'Male', 'document_type': 'driving_l...",clear
29,29,86d7ba3adbcf4f92a334107bef54a6cc,1,1,1,1,1,2017-06-20T20:23:12Z,1,0,0,1,1,0,2d6124c41db843eeb0f2e4b912aa94a5,1,0,"{'gender': 'Female', 'nationality': 'ESP', 'do...",clear
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176374,181962,b53270d6b89d471790968f5b14dfe885,1,1,1,1,1,2017-06-21T13:52:08Z,1,0,0,1,1,0,378194dac6fc43bca05fdb4e9be4417d,1,0,"{'gender': 'Male', 'nationality': 'POL', 'docu...",clear
176375,181963,7a636ac3c33a49ff846259560aaf7685,1,1,1,1,1,2017-06-21T13:52:44Z,1,0,0,1,0,0,b90f1e12c24f4d5c926df1546c61ffa8,1,0,"{'gender': 'Female', 'document_type': 'driving...",clear
176376,181964,31aeeef8112a48b78b8956dad92220de,1,1,1,1,1,2017-06-21T14:01:33Z,1,0,0,1,1,0,86519bade63c4cf0b64a79dd0c0c6857,1,0,"{'gender': 'Female', 'nationality': 'GBR', 'do...",clear
176377,181965,ed525c9e7f75439086d1fd3e170a260b,1,1,1,1,1,2017-06-21T14:07:11Z,1,0,0,1,1,0,c87992d0aae7404bb23bdbe629878d2b,1,0,"{'gender': 'Male', 'nationality': 'GRC', 'docu...",clear
176378,181966,f19f95d0191045a2bd7d4c5bf0df58a5,1,1,1,1,1,2017-06-21T14:08:05Z,1,0,0,1,1,0,3b1d14539cf949d290e2c15d0e511601,1,0,"{'gender': 'Female', 'nationality': 'GBR', 'do...",clear
176379,181967,89d1ec4e27724079b018296582299433,1,1,1,1,1,2017-06-21T14:09:17Z,1,0,0,1,1,0,b57b9cba97e346ebabaf301869372c08,1,0,"{'gender': 'Male', 'issuing_date': '2015-04', ...",clear
176380,181968,646803af6ffe43c398410e6aeedc7f5f,1,1,1,1,1,2017-06-21T14:07:04Z,1,0,0,1,0,0,167e231bf02e4a7e84c47fd2174b48a9,0,0,"{'document_type': 'driving_licence', 'date_of_...",clear
176381,181969,712023660c9649e7a86a65f7c61428ae,1,1,1,1,1,2017-06-21T14:11:20Z,1,0,0,1,0,0,a703f13502a8457ab302ad56e01e5606,1,0,"{'gender': 'Male', 'document_type': 'driving_l...",clear
176382,181970,3d6aa89a8d2442e2ae83ea27eb0d5140,1,1,1,1,1,2017-06-21T14:12:47Z,1,0,0,1,1,0,2068e659ac154e8982e8964ba0c5fed0,1,0,"{'gender': 'Female', 'nationality': 'FRA', 'do...",clear
176383,181971,03748f3a1aef45dc8d091e49ce20bc47,1,1,1,1,1,2017-06-21T14:21:54Z,1,0,0,1,1,0,9d475763740949a68ca636f81a3501eb,1,0,"{'gender': 'Male', 'issuing_date': '2011-09', ...",clear
176384,181972,ea72d55893714f7d90387873c1fdb40a,1,1,1,1,1,2017-06-21T14:25:43Z,1,0,0,1,1,0,f9f9246e46b0472e83ec7e76edcc935b,1,0,"{'gender': 'Male', 'nationality': 'GBR', 'docu...",clear
176385,181973,678522d39a91454cb69a733d4fcb4dbe,1,1,1,1,1,2017-06-21T14:30:57Z,1,0,0,1,1,0,af9b38c91eba4d3e84f35af8b05de085,1,0,"{'gender': 'Female', 'nationality': 'GBR', 'do...",clear
176386,181974,590bb32502ae464d9b699a3a43d465f7,1,1,1,1,1,2017-06-21T14:32:27Z,1,0,0,0,0,0,693d2b2bca04486c9a628948952230ac,0,0,"{'document_type': 'national_identity_card', 'i...",clear
176387,181975,96e0fab6b8b94569ab2937b2b000a3be,1,1,1,1,1,2017-06-21T14:39:39Z,1,0,0,1,1,0,c46bdf1d929f4edc9ae758a23bf5d516,1,0,"{'gender': 'Male', 'nationality': 'CZE', 'docu...",clear
176388,181976,2c291fa002994ca8a812eb6312fd6ce9,1,1,1,1,1,2017-06-21T14:51:58Z,1,0,0,1,1,0,eb6382d92dfd4dee8eb8d61f41a35084,1,0,"{'gender': 'Male', 'issuing_date': '2007-01', ...",clear
176389,181977,a0d443689ede49ab8c29f00662621e55,1,1,1,1,1,2017-06-20T20:59:39Z,1,0,0,1,1,0,538536eeebbf446daf75f4b0851a6133,1,0,"{'gender': 'Female', 'nationality': 'GBR', 'do...",clear
176390,181978,a0d443689ede49ab8c29f00662621e55,1,1,1,1,1,2017-06-20T20:59:39Z,1,0,0,1,1,0,8e626ecf669b4ab8b0b86f95dfdf85a1,1,0,"{'gender': 'Female', 'nationality': 'GBR', 'do...",clear
176391,181979,ad68d17eec954763a89bcddf95d139cd,1,1,1,1,1,2017-06-20T21:13:44Z,1,0,0,1,1,0,3b3936231bce415f97d0b3d7b38becc1,1,0,"{'gender': 'Female', 'nationality': 'ESP', 'do...",clear
176392,181980,799614b837184a2e866387bb2774ffcc,1,1,1,1,1,2017-06-20T21:22:05Z,1,0,0,1,1,0,3f0c33a083ca434a8ee1e08b86bba617,1,0,"{'gender': 'Female', 'nationality': 'GBR', 'do...",clear
176393,181981,e64583d8093c439382559d806373bb27,1,1,1,1,1,2017-06-20T21:41:22Z,1,0,0,1,0,0,3a04e1e48e824ead8714d9cd399866c4,1,0,"{'gender': 'Male', 'document_type': 'driving_l...",clear
176394,181982,462488e0e9a6436ea77f382482c76823,1,1,1,1,1,2017-06-20T21:41:11Z,1,0,0,1,1,0,f1dbf151978e4732a7d46f3a6fac5554,1,0,"{'gender': 'Female', 'nationality': 'GBR', 'do...",clear
176395,181983,1b7865050295440fa4f8f9306aeb330d,1,1,1,1,1,2017-06-20T21:47:13Z,1,0,0,1,1,0,1b8944c4e15d4d67964935dc63952b14,1,0,"{'gender': 'Female', 'nationality': 'GBR', 'do...",clear
176396,181984,c33fab8fa84745018ec5fa5f05e8e2d1,1,1,1,1,1,2017-06-20T21:57:45Z,1,0,0,1,0,0,6993f4ee7bf64ffd9f9748bcf5cf429e,0,0,"{'document_type': 'driving_licence', 'issuing_...",clear
176397,181985,cafb2c8a27b941cbb0d72f5889fc9911,1,1,1,1,1,2017-06-20T22:09:59Z,1,0,0,1,1,0,08fbfeda3f38452e8ab36536b0a7adea,1,0,"{'gender': 'Female', 'nationality': 'NLD', 'do...",clear
176398,181986,3d16e02c245a4f1a8a76662ad933d5c4,1,1,1,1,1,2017-06-20T22:25:59Z,1,0,0,1,1,0,5adad81d87ed46d3b0c3b9214af9d80d,1,0,"{'gender': 'Female', 'nationality': 'GBR', 'do...",clear
176399,181987,c7f99ee763bf45d289019c6ac2cbd919,1,1,1,1,1,2017-06-20T22:25:53Z,1,0,0,1,1,0,72a2cccc9e9942deb5274a16536bf2d0,1,0,"{'gender': 'Female', 'nationality': 'CHN', 'do...",clear
176400,181988,8b47d72c363e4591861f523dd7487f20,1,1,1,1,1,2017-06-20T22:27:40Z,1,0,0,1,0,0,8c83017191204a3887c2d47ca2d998ce,1,0,"{'gender': 'Female', 'document_type': 'driving...",clear
176401,181989,3d16e02c245a4f1a8a76662ad933d5c4,1,1,1,1,1,2017-06-20T22:25:59Z,1,0,0,1,1,0,bfea35bcb6a940118ca5816cd8ffcae7,1,0,"{'gender': 'Female', 'nationality': 'GBR', 'do...",clear
176402,181990,65c49a09d299486091b6586487679b87,1,1,1,1,1,2017-06-20T22:35:40Z,1,0,0,1,1,0,9190cf28b35b425083bdb41e121822fe,1,0,"{'gender': 'Male', 'nationality': 'PRT', 'docu...",clear
176403,181991,f0a1721abb544ea4896cd53716b3fd2b,1,1,1,1,1,2017-06-20T22:50:59Z,1,0,0,1,1,0,da25f83fc32d44888187c74c220e2513,1,0,"{'gender': 'Female', 'nationality': 'GBR', 'do...",clear

In [87]:
x_train,x_test,y_train,y_test=\
train_test_split(data[pred_var],data.result,test_size=0.20,random_state=42)

In [88]:
data

,Unnamed: 0,user_id,result,visual_authenticity_result,image_integrity_result,face_detection_result,image_quality_result,created_at,supported_document_result,conclusive_document_quality_result,colour_picture_result,data_validation_result,data_consistency_result,data_comparison_result,attempt_id,police_record_result,compromised_document_result,properties,sub_result
0,0,ab23fae164e34af0a1ad1423ce9fd9f0,0,0,1,1,1,2017-06-20T23:12:57Z,1,0,0,1,1,0,050a0596de424fab83c433eaa18b3f8d,1,0,"{'gender': 'Male', 'nationality': 'IRL', 'docu...",caution
1,1,15a84e8951254011b47412fa4e8f65b8,1,1,1,1,1,2017-06-20T23:16:04Z,1,0,0,1,0,0,f69c1e5f45a64e50a26740b9bfb978b7,1,0,"{'gender': 'Female', 'document_type': 'driving...",clear
2,2,ffb82fda52b041e4b9af9cb4ef298c85,1,1,1,1,1,2017-06-20T17:59:49Z,1,0,0,1,1,0,f9f84f3055714d8e8f7419dc984d1769,1,0,"{'gender': 'Male', 'nationality': 'ITA', 'docu...",clear
3,3,bd4a8b3e3601427e88aa1d9eab9f4290,1,1,1,1,1,2017-06-20T17:59:38Z,1,0,0,1,1,0,10a54a1ecf794404be959e030f11fef6,1,0,"{'gender': 'Male', 'issuing_date': '2007-08', ...",clear
4,4,f52ad1c7e69543a9940c3e7f8ed28a39,1,1,1,1,1,2017-06-20T18:08:09Z,1,0,0,1,1,0,1f320d1d07de493292b7e0d5ebfb1cb9,1,0,"{'gender': 'Male', 'nationality': 'POL', 'docu...",clear
5,5,6af503bb8b7d4054b13b4206ab4d30ff,1,1,1,1,1,2017-06-20T18:08:50Z,1,0,0,1,1,0,40475bea718e4eefa1681badad872a63,1,0,"{'gender': 'Male', 'nationality': 'BRA', 'docu...",clear
6,6,c7065821137c4e88be2d8d48e5ae0ed5,1,1,1,1,1,2017-06-20T18:11:36Z,1,0,0,1,1,0,e06eaa9e57fb4a959f3da2d8e6bd467c,1,0,"{'gender': 'Male', 'nationality': 'ESP', 'docu...",clear
7,7,c495a07929b344ed9da41d7b9eb7a6ea,1,1,1,1,1,2017-06-20T18:18:12Z,1,0,0,1,0,0,676eb988814c49c794c5002865c76379,1,0,"{'gender': 'Male', 'document_type': 'driving_l...",clear
8,8,b9d6d9645a714b0dabfdcc5048a29e57,1,1,1,1,1,2017-06-20T18:19:39Z,1,0,0,1,0,0,63eb06e3400e4b23b1d8c1794e8eaad4,1,0,"{'gender': 'Male', 'document_type': 'driving_l...",clear
9,9,bf0fc3bd3c2a4c80be34eb096717bc81,1,1,1,1,1,2017-06-20T18:30:27Z,1,0,0,1,0,0,7c1ff498161441cab0567e8b8ec3f3b6,1,0,"{'gender': 'Male', 'document_type': 'driving_l...",clear
10,10,aae2e4b64d824c9cb309de6fe2ce7d29,1,1,1,1,1,2017-06-20T18:28:54Z,1,0,0,1,0,0,8d8d0ddf715f4ec3b822029aeae2e5b1,1,0,"{'gender': 'Female', 'document_type': 'driving...",clear
11,11,3c02c5a120364ca7a48a058ddfbd1d13,1,1,1,1,1,2017-06-20T18:40:08Z,1,0,0,1,0,0,c2d87d0cfb7d4934b996c6bd49b9f3a5,1,0,"{'gender': 'Male', 'document_type': 'driving_l...",clear
12,12,49d64fbb7eab4c868c7b1d8864135b17,1,1,1,1,1,2017-06-20T18:44:37Z,1,0,0,1,1,0,c885875374854c1f86e64e0b5ac398cb,0,0,"{'gender': 'Male', 'nationality': 'POL', 'docu...",clear
13,13,b41c2602c9144af1b2c00a42b8986138,1,1,1,1,1,2017-06-20T18:54:08Z,1,0,0,1,1,0,99f81c8f4a294249b5f51ab541de0283,1,0,"{'gender': 'Female', 'nationality': 'LTU', 'do...",clear
14,14,787ab881fbe94f1abe292e4e7d25b651,1,1,1,1,1,2017-06-20T18:54:53Z,1,0,0,1,0,0,c44a1aeba01045dc8583fe9891cf067e,0,0,"{'document_type': 'driving_licence', 'date_of_...",clear
15,15,e3657a99bd97408c8d01ded9a48a4baf,1,1,1,1,1,2017-06-20T18:57:48Z,1,0,0,1,0,0,ebecf2e44a7a4daf978b4b45b67d1c38,1,0,"{'gender': 'Male', 'document_type': 'driving_l...",clear
16,16,74d2a3101a714e8896e7ee6c57922625,1,1,1,1,1,2017-06-20T19:03:32Z,1,0,0,1,1,0,84dc0f2097af4f91b692cabd3c648927,1,0,"{'gender': 'Male', 'nationality': 'GBR', 'docu...",clear
17,17,b20147d91fdf4ac289ddd80c4be9716a,1,1,1,1,1,2017-06-20T19:00:27Z,1,0,0,1,1,0,2db4bd5ed28948af858881e5e261bc2d,1,0,"{'gender': 'Female', 'nationality': 'GBR', 'do...",clear
18,18,b20147d91fdf4ac289ddd80c4be9716a,1,1,1,1,1,2017-06-20T19:00:27Z,1,0,0,1,1,0,aa906e5f7be04ebca1d79091f5294f58,1,0,"{'gender': 'Female', 'nationality': 'GBR', 'do...",clear
19,19,0d1a0c42b610426480c83ee3c06f7886,1,1,1,1,1,2017-06-20T19:06:18Z,1,0,0,1,1,0,ca2eec0bf9ae4bfb8605ad3a72dc2ef1,1,0,"{'gender': 'Male', 'nationality': 'GBR', 'docu...",clear
20,20,23bf43e66c4d48b8abb6f9ec9f18104b,1,1,1,1,1,2017-06-20T19:13:17Z,1,0,0,0,0,0,40862aec7a6f4389995f89e3d3527882,1,0,"{'document_type': 'national_identity_card', 'd...",clear
21,21,2ba7b5eab69b48e9b50db1a6b787b898,1,1,1,1,1,2017-06-20T19:21:34Z,1,0,0,1,1,0,4d7a2d96b0194cf29cb9c9d9e73bd72c,1,0,"{'gender': 'Male', 'nationality': 'GBR', 'docu...",clear
22,22,00d71339f1604775bbd32cc225467b3f,1,1,1,1,1,2017-06-20T19:26:27Z,1,0,0,1,0,0,a98c3e5780c448548a6bbd760f0b8401,1,0,"{'gender': 'Male', 'document_type': 'driving_l...",clear
23,23,ad8c11a505a940b7b9ca4605c7e29e08,1,1,1,1,1,2017-06-20T19:33:56Z,1,0,0,1,1,0,12a74b5e095b4bbcafade7839a52b285,1,0,"{'gender': 'Female', 'nationality': 'SVK', 'do...",clear
24,24,7e66b2c14ea74d28af5547be220455dd,1,1,1,1,1,2017-06-20T19:39:10Z,1,0,0,1,0,0,e3549a16f4054976a7a994f1b268d195,0,0,"{'document_type': 'driving_licence', 'issuing_...",clear
25,25,18b3422213bf4fd991c7e1736504def2,0,0,1,1,1,2017-06-20T19:47:32Z,1,0,0,1,1,0,93bb751f9e894b13a3f4c1dac27b6847,1,0,"{'gender': 'Male', 'nationality': 'TUN', 'docu...",caution
26,26,e1c4ec1958844228bb0c730a1c16d688,1,1,1,1,1,2017-06-20T20:05:34Z,1,0,0,1,1,0,f1ddad45bbfd4818a35ad7bba541e777,1,0,"{'gender': 'Female', 'nationality': 'PHL', 'do...",clear
27,27,a5041fef506a4be7975ac1719c4bccaa,1,1,1,1,1,2017-06-20T20:16:59Z,1,0,0,1,1,0,94eb3ae8cfb24e758dcf3273cbc15d0e,1,0,"{'gender': 'Male', 'issuing_date': '2015-02', ...",clear
28,28,5d0de10164b843d9b3b714991b725d94,1,1,1,1,1,2017-06-20T20:15:29Z,1,0,0,1,0,0,345d95a86a2e413a989d7390d43d6b46,1,0,"{'gender': 'Male', 'document_type': 'driving_l...",clear
29,29,86d7ba3adbcf4f92a334107bef54a6cc,1,1,1,1,1,2017-06-20T20:23:12Z,1,0,0,1,1,0,2d6124c41db843eeb0f2e4b912aa94a5,1,0,"{'gender': 'Female', 'nationality': 'ESP', 'do...",clear
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176374,181962,b53270d6b89d471790968f5b14dfe885,1,1,1,1,1,2017-06-21T13:52:08Z,1,0,0,1,1,0,378194dac6fc43bca05fdb4e9be4417d,1,0,"{'gender': 'Male', 'nationality': 'POL', 'docu...",clear
176375,181963,7a636ac3c33a49ff846259560aaf7685,1,1,1,1,1,2017-06-21T13:52:44Z,1,0,0,1,0,0,b90f1e12c24f4d5c926df1546c61ffa8,1,0,"{'gender': 'Female', 'document_type': 'driving...",clear
176376,181964,31aeeef8112a48b78b8956dad92220de,1,1,1,1,1,2017-06-21T14:01:33Z,1,0,0,1,1,0,86519bade63c4cf0b64a79dd0c0c6857,1,0,"{'gender': 'Female', 'nationality': 'GBR', 'do...",clear
176377,181965,ed525c9e7f75439086d1fd3e170a260b,1,1,1,1,1,2017-06-21T14:07:11Z,1,0,0,1,1,0,c87992d0aae7404bb23bdbe629878d2b,1,0,"{'gender': 'Male', 'nationality': 'GRC', 'docu...",clear
176378,181966,f19f95d0191045a2bd7d4c5bf0df58a5,1,1,1,1,1,2017-06-21T14:08:05Z,1,0,0,1,1,0,3b1d14539cf949d290e2c15d0e511601,1,0,"{'gender': 'Female', 'nationality': 'GBR', 'do...",clear
176379,181967,89d1ec4e27724079b018296582299433,1,1,1,1,1,2017-06-21T14:09:17Z,1,0,0,1,1,0,b57b9cba97e346ebabaf301869372c08,1,0,"{'gender': 'Male', 'issuing_date': '2015-04', ...",clear
176380,181968,646803af6ffe43c398410e6aeedc7f5f,1,1,1,1,1,2017-06-21T14:07:04Z,1,0,0,1,0,0,167e231bf02e4a7e84c47fd2174b48a9,0,0,"{'document_type': 'driving_licence', 'date_of_...",clear
176381,181969,712023660c9649e7a86a65f7c61428ae,1,1,1,1,1,2017-06-21T14:11:20Z,1,0,0,1,0,0,a703f13502a8457ab302ad56e01e5606,1,0,"{'gender': 'Male', 'document_type': 'driving_l...",clear
176382,181970,3d6aa89a8d2442e2ae83ea27eb0d5140,1,1,1,1,1,2017-06-21T14:12:47Z,1,0,0,1,1,0,2068e659ac154e8982e8964ba0c5fed0,1,0,"{'gender': 'Female', 'nationality': 'FRA', 'do...",clear
176383,181971,03748f3a1aef45dc8d091e49ce20bc47,1,1,1,1,1,2017-06-21T14:21:54Z,1,0,0,1,1,0,9d475763740949a68ca636f81a3501eb,1,0,"{'gender': 'Male', 'issuing_date': '2011-09', ...",clear
176384,181972,ea72d55893714f7d90387873c1fdb40a,1,1,1,1,1,2017-06-21T14:25:43Z,1,0,0,1,1,0,f9f9246e46b0472e83ec7e76edcc935b,1,0,"{'gender': 'Male', 'nationality': 'GBR', 'docu...",clear
176385,181973,678522d39a91454cb69a733d4fcb4dbe,1,1,1,1,1,2017-06-21T14:30:57Z,1,0,0,1,1,0,af9b38c91eba4d3e84f35af8b05de085,1,0,"{'gender': 'Female', 'nationality': 'GBR', 'do...",clear
176386,181974,590bb32502ae464d9b699a3a43d465f7,1,1,1,1,1,2017-06-21T14:32:27Z,1,0,0,0,0,0,693d2b2bca04486c9a628948952230ac,0,0,"{'document_type': 'national_identity_card', 'i...",clear
176387,181975,96e0fab6b8b94569ab2937b2b000a3be,1,1,1,1,1,2017-06-21T14:39:39Z,1,0,0,1,1,0,c46bdf1d929f4edc9ae758a23bf5d516,1,0,"{'gender': 'Male', 'nationality': 'CZE', 'docu...",clear
176388,181976,2c291fa002994ca8a812eb6312fd6ce9,1,1,1,1,1,2017-06-21T14:51:58Z,1,0,0,1,1,0,eb6382d92dfd4dee8eb8d61f41a35084,1,0,"{'gender': 'Male', 'issuing_date': '2007-01', ...",clear
176389,181977,a0d443689ede49ab8c29f00662621e55,1,1,1,1,1,2017-06-20T20:59:39Z,1,0,0,1,1,0,538536eeebbf446daf75f4b0851a6133,1,0,"{'gender': 'Female', 'nationality': 'GBR', 'do...",clear
176390,181978,a0d443689ede49ab8c29f00662621e55,1,1,1,1,1,2017-06-20T20:59:39Z,1,0,0,1,1,0,8e626ecf669b4ab8b0b86f95dfdf85a1,1,0,"{'gender': 'Female', 'nationality': 'GBR', 'do...",clear
176391,181979,ad68d17eec954763a89bcddf95d139cd,1,1,1,1,1,2017-06-20T21:13:44Z,1,0,0,1,1,0,3b3936231bce415f97d0b3d7b38becc1,1,0,"{'gender': 'Female', 'nationality': 'ESP', 'do...",clear
176392,181980,799614b837184a2e866387bb2774ffcc,1,1,1,1,1,2017-06-20T21:22:05Z,1,0,0,1,1,0,3f0c33a083ca434a8ee1e08b86bba617,1,0,"{'gender': 'Female', 'nationality': 'GBR', 'do...",clear
176393,181981,e64583d8093c439382559d806373bb27,1,1,1,1,1,2017-06-20T21:41:22Z,1,0,0,1,0,0,3a04e1e48e824ead8714d9cd399866c4,1,0,"{'gender': 'Male', 'document_type': 'driving_l...",clear
176394,181982,462488e0e9a6436ea77f382482c76823,1,1,1,1,1,2017-06-20T21:41:11Z,1,0,0,1,1,0,f1dbf151978e4732a7d46f3a6fac5554,1,0,"{'gender': 'Female', 'nationality': 'GBR', 'do...",clear
176395,181983,1b7865050295440fa4f8f9306aeb330d,1,1,1,1,1,2017-06-20T21:47:13Z,1,0,0,1,1,0,1b8944c4e15d4d67964935dc63952b14,1,0,"{'gender': 'Female', 'nationality': 'GBR', 'do...",clear
176396,181984,c33fab8fa84745018ec5fa5f05e8e2d1,1,1,1,1,1,2017-06-20T21:57:45Z,1,0,0,1,0,0,6993f4ee7bf64ffd9f9748bcf5cf429e,0,0,"{'document_type': 'driving_licence', 'issuing_...",clear
176397,181985,cafb2c8a27b941cbb0d72f5889fc9911,1,1,1,1,1,2017-06-20T22:09:59Z,1,0,0,1,1,0,08fbfeda3f38452e8ab36536b0a7adea,1,0,"{'gender': 'Female', 'nationality': 'NLD', 'do...",clear
176398,181986,3d16e02c245a4f1a8a76662ad933d5c4,1,1,1,1,1,2017-06-20T22:25:59Z,1,0,0,1,1,0,5adad81d87ed46d3b0c3b9214af9d80d,1,0,"{'gender': 'Female', 'nationality': 'GBR', 'do...",clear
176399,181987,c7f99ee763bf45d289019c6ac2cbd919,1,1,1,1,1,2017-06-20T22:25:53Z,1,0,0,1,1,0,72a2cccc9e9942deb5274a16536bf2d0,1,0,"{'gender': 'Female', 'nationality': 'CHN', 'do...",clear
176400,181988,8b47d72c363e4591861f523dd7487f20,1,1,1,1,1,2017-06-20T22:27:40Z,1,0,0,1,0,0,8c83017191204a3887c2d47ca2d998ce,1,0,"{'gender': 'Female', 'document_type': 'driving...",clear
176401,181989,3d16e02c245a4f1a8a76662ad933d5c4,1,1,1,1,1,2017-06-20T22:25:59Z,1,0,0,1,1,0,bfea35bcb6a940118ca5816cd8ffcae7,1,0,"{'gender': 'Female', 'nationality': 'GBR', 'do...",clear
176402,181990,65c49a09d299486091b6586487679b87,1,1,1,1,1,2017-06-20T22:35:40Z,1,0,0,1,1,0,9190cf28b35b425083bdb41e121822fe,1,0,"{'gender': 'Male', 'nationality': 'PRT', 'docu...",clear
176403,181991,f0a1721abb544ea4896cd53716b3fd2b,1,1,1,1,1,2017-06-20T22:50:59Z,1,0,0,1,1,0,da25f83fc32d44888187c74c220e2513,1,0,"{'gender': 'Female', 'nationality': 'GBR', 'do...",clear

In [89]:
x_train

,visual_authenticity_result,image_integrity_result,face_detection_result,image_quality_result,supported_document_result,data_validation_result,data_consistency_result,police_record_result,compromised_document_result
36300,1,1,1,1,1,1,0,1,0
91867,0,0,0,0,1,0,0,0,0
122861,1,1,1,1,1,1,1,1,0
97682,1,0,1,1,1,1,0,1,0
143080,0,0,0,0,1,0,0,0,0
64492,1,1,1,1,1,1,0,1,1
118621,1,1,1,1,1,1,0,1,0
1974,0,0,0,0,1,0,0,0,0
45780,1,1,1,1,1,0,0,1,0
37795,1,1,1,1,1,1,1,1,0
140606,1,1,1,1,1,1,1,1,0
175911,1,1,1,1,1,1,1,1,0
141233,1,1,1,1,1,1,0,1,0
44287,1,1,1,1,1,1,0,1,0
156200,1,1,1,1,1,1,1,1,0
15972,0,0,0,0,1,0,0,0,0
11101,1,0,1,1,1,1,1,1,1
164521,1,1,1,1,1,0,0,1,0
150167,1,1,1,1,1,1,0,1,0
16769,0,0,0,0,1,0,0,0,0
112964,1,1,1,1,1,1,1,1,0
132442,1,1,1,1,1,1,1,1,0
139527,1,1,1,1,1,1,0,1,0
114334,1,0,1,1,1,1,1,1,1
52042,1,1,1,1,1,1,1,1,0
155713,0,0,0,1,0,0,0,0,0
51462,1,1,1,1,1,1,1,1,0
61030,1,1,1,1,1,1,1,1,1
63074,0,0,0,0,1,0,0,0,0
50614,1,1,1,1,1,1,1,1,0
...,...,...,...,...,...,...,...,...,...
130523,1,1,1,1,1,1,1,1,0
149503,1,1,1,1,1,1,1,1,0
122537,1,1,1,1,1,1,0,1,0
84478,1,0,1,1,1,1,0,1,1
156730,1,1,1,1,1,1,0,0,0
130608,1,1,1,1,1,1,1,1,0
159765,1,1,1,1,1,1,0,1,0
85305,1,1,1,1,1,1,1,1,1
103355,1,1,1,1,1,1,1,1,0
5311,1,1,1,1,1,1,1,1,1
64925,1,1,1,1,1,1,1,0,1
59735,1,0,1,1,1,1,0,1,1
769,1,1,1,1,1,0,0,0,0
64820,1,1,1,1,1,1,1,1,1
67221,0,0,0,0,1,0,0,0,0
41090,1,0,1,1,1,1,1,1,1
16023,0,0,0,0,1,0,0,0,0
175203,1,1,1,1,1,1,0,1,0
126324,1,1,1,1,1,1,1,1,0
112727,1,1,1,1,1,1,0,1,0
87498,0,1,1,1,1,0,0,1,1
168266,1,1,1,1,1,1,0,1,0
137337,1,1,1,1,1,1,1,1,0
54886,1,1,1,1,1,1,0,1,0
110268,1,1,1,1,1,1,1,1,0
119879,1,1,1,1,1,1,1,1,0
103694,1,0,1,1,1,1,1,1,0
131932,0,0,0,0,1,0,0,0,0
146867,1,1,1,1,1,1,0,1,0
121958,1,1,1,1,1,1,1,1,0

In [90]:
c=tree.DecisionTreeClassifier()

In [91]:
c.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [92]:
res=y_train.as_matrix()

c:\users\admin\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

In [93]:
accu_train=np.sum(c.predict(x_train)==y_train)
accu_test=np.sum(c.predict(x_test)==y_test)

In [94]:
accu_train

140394

In [98]:
x_test.shape[0]

35281

In [96]:
accu_test

35089

In [100]:
print(accu_test/x_test.shape[0])

0.9945579773815935

In [102]:
modelrandom=RandomForestClassifier(max_depth=4)

In [103]:
modelRandomCV=cross_val_score(modelrandom,x_train,y_train,cv=5)

c:\users\admin\appdata\local\programs\python\python36-32\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\admin\appdata\local\programs\python\python36-32\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\admin\appdata\local\programs\python\python36-32\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\admin\appdata\local\programs\python\python36-32\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\admin\appdata\local\programs\python\python36-32\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [104]:
print(modelRandomCV.mean())

0.9920494917000428

In [105]:
modelrandom.fit(x_train,y_train)

c:\users\admin\appdata\local\programs\python\python36-32\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=4, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [106]:
predictions=modelrandom.predict(x_test)

In [107]:
predictions

array([0, 1, 1, ..., 0, 0, 1], dtype=int64)